{% extends 'bass.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cookies.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<body>
  <h1>Agregar configuración de cookies</h1>
  <form method="POST" action="{% url 'configuracion_cookie_create' %}">
      {% csrf_token %}
      <label for="nombre">Nombre de la configuración:</label>
      <input type="text" name="nombre" id="nombre" required>
      <br>
      <label for="categorias">Categorías activas:</label>
      <br>
      {% for categoria in categorias %}
          <input type="checkbox" name="categorias" value="{{ categoria.id }}">{{ categoria.nombre }}
          <br>
      {% endfor %}
      <br>
      <button type="submit">Guardar configuración</button>
  </form>
</body>
<script>
  var form = document.getElementById('cookie-form');

  form.addEventListener('submit', function(event) {
    event.preventDefault(); 

    var preferenciasCheckbox = document.querySelectorAll('input[name="preferencias"]:checked');
    var preferenciasSeleccionadas = Array.from(preferenciasCheckbox).map(function(checkbox) {
      return checkbox.value;
    });

    guardarPreferenciasCookies(preferenciasSeleccionadas);

    alert('¡Configuración de cookies guardada con éxito!');
  });

  function guardarPreferenciasCookies(preferencias) {
    var preferenciasJSON = JSON.stringify(preferencias);

    document.cookie = "preferenciasCookies=" + preferenciasJSON + "; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
  }
</script>

{% endblock %}
