{% extends 'bass.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

{% endblock %}

{% block content %}

  <link rel="stylesheet" href="{% static 'css/cookies.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  


  <div class="container-cookies">
    <div class="card">
      <h1 style="font-size:40px;">Configuración de Cookies</h1>
      <br>
      <br>
      
      <form>
        <div class="cookie-row">
          <span class="cookie-name">Cookies Esenciales</span>
          <div class="option-label">
            <label class="switch">
              <input type="checkbox" checked disabled style="background-color: #4caf50;">
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        
        <div class="cookie-row">
          <span class="cookie-name">Cookies de Preferencias</span>
          <div class="option-label">
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        
        <div class="cookie-row">
          <span class="cookie-name">Cookies de Rendimiento</span>
          <div class="option-label">
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        
        <div class="cookie-row">
          <span class="cookie-name">Cookies de Análisis</span>
          <div class="option-label">
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        
        <div class="cookie-row">
          <span class="cookie-name">Cookies de Publicidad</span>
          <div class="option-label">
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        
        <div class="cookie-row">
          <span class="cookie-name">Cookies de Redes Sociales</span>
          <div class="option-label">
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <br>
        
        <button type="submit" class="btn-submit">Guardar configuración</button>
      </form>
      
    </div>
  </div>


{% endblock %}
