{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainmenu.css' %}">
{% endblock %}


    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" style="background-color:#1E1E1E">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/logoHori.png' %}" alt="Logo" height="50">
            </a>
            <div class="collapse navbar-collapse justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cookies</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-text" style="height=60; width=200px;">
                <a class="nav-link" href="#" style="height=60; width=200px;">Iniciar sesión</a>
            </div>
        </div>
    </nav>
  

