body {
    font-family: 'Montserrat-Light', Arial, Helvetica;
}
h1 {
    font-family: 'Montserrat-Bold', Arial, Helvetica;
    font-size: 75px;
}
h2 {
    font-size: 45px;
}

.left-sidew {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
}

.right-sidew {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #ffffff;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    /* background: linear-gradient(#684cf5, #7b61f7); */
    background: linear-gradient(#5b3ef0, #74DFEF);

}


/* Estilos para el texto y el input */
.bold-text {
    font-size: 75px;
    color: #ffffff;
    padding-left: 0px;
    padding-right: 0px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffffff;
}

input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

