.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  background-color: #1e1e1e;
  color: #1e1e1e;
  padding: 0 20px;
}

.navbar-custom {
    background-color: #1E1E1E;
}

.navbar-brand {
    display: flex;
    align-items: center;
}
/* .navbar-brand img {
    height: 40px;
    margin-right: 10px;
} */

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  align-items: center;
}
.navbar-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
.navbar-login {
  display: flex;
  align-items: center;
}
.navbar-login a {
  color: #fff;
  text-decoration: none;
}