.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 60px; */
  background-color: #181818;
  color: #181818;
  padding: 0 0px;
}

.navbar-custom {
    background-color: #181818;
}

.navbar-brand {
    display: flex;
    align-items: center;
    height: 60px;
    width: 208px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  align-items: center;
}
.navbar-links a {
  color: #fff;
  margin: 0 20px;
  text-decoration: none;
  height: 60px;
  width: 208px;
}
.navbar-login {
  display: flex;
  align-items: center;
}
.navbar-login a {
  color: #fff;
  text-decoration: none;
}