{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">

{% endblock %}

{% block content %}
    <div class="container-landing">
        <div class="left-side">
            <img src="{% static 'images/LogoRedondo.png' %}" alt="Logo">
        </div>
        <div class="right-side">
            <h1 class="bold-text">Hi 👋🏽</h1>
            <h1 class="bold-text">I'm CookBlock</h1>
            <br>
            <br>
            <form method="post" class="form-container">
                {% csrf_token %}
                <div class="form-fields">
                    {% for field in form %}
                    <div class="form-field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="buttons login-button">INICIAR SESIÓN</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
