.buttons {
    display: flex;
    justify-content: center;
}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button {
    display: inline-block;
    justify-content: left;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    margin: 0 0px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.login-button {
    color: #000000;
    background-color: #ffffff;
}

.login-button:hover {
    color: #ffffff;
    background-color: #5b3ef0;
}

.register-button {
    color: #ffffff  ;
    background-color: #1e1e1e;
}

.register-button:hover {
    color: #000000;
    background-color: #74DFEF;
}

.hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
.visible {
opacity: 1;
transition: opacity 0.3s ease-in-out;
}
  
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

.form-field {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
    font-size: 18px;
    font: "Montserrat-Regular";
}